<!DOCTYPE html>
<html>
<head>
  <title>Socket.IO + Leaflet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Live Location</h1>

  <!-- Map container -->
  <div id="map"></div>

  <!-- Socket.IO from server -->
  <script src="/socket.io/socket.io.js"></script>
  
  <!-- Leaflet -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Custom client-side JS -->
  <script src="/javascripts/script.js"></script>
</body>
</html>
